# Telegram Bot
BOT_TOKEN=your_bot_token

# Postgres
POSTGRES_USER=botuser
POSTGRES_PASSWORD=botpass
POSTGRES_DB=botdb
DB_SSLMODE=require
DB_URL=postgres://botuser:botpass@postgres:5432/botdb?sslmode=require

SOL_WALLET=
SOL_RPC_URL=https://api.mainnet-beta.solana.com

API_ADDR=:8080
API_PORT=8080
API_KEY=

NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
NOWPAYMENTS_IPN_URL=https://your-domain.com/api/nowpayments/callback
